# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

test-worker-*

*~
Makefile
cmake_install.cmake
CMakeFiles
CMakeCache.txt

*.dylib
unit-test
worker-locator
.DS_Store
TAGS

log/*
src/core
core
